body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;   
}
form
{
    position: absolute;
    padding: 40px;
    width: 500px;
    top:50% ;
    left:50% ;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #191919;
    border: 0px solid ;
    border-radius: 10px;
}
form h1
{
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}
form input[type="text"]:hover{
    background-color:#2ecc11;
    border-color: none;

}

form input[type="text"],input[type="text"]
{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    border: 2px solid #3498db;
    color: white;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    width: 200px;
}

form a
{
    border: 0px;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 14px;
    border: 2px solid #3498db;
    color: white;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    width: 200px;
    cursor: pointer;
}
form a:hover{
    background-color:#2ecc11;
    border-color: none;
}
option 
{
    border: 0px;
    background: #2ecc11;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 14px;
    border: 2px solid #3498db;
    color: black;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    width: 200px;
    cursor: pointer;
}
input
{
    border: 0px;
    background: black;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 14px;
    border: 2px solid #3498db;
    color: skyblue;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    width: 200px;
    cursor: pointer;
}input
{
    border: 0px;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 14px;
    border: 2px solid #3498db;

    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    width: 100px;
    cursor:auto;
}
input:hover{
    background-color:#2ecc11;
    border-color: none;
}