body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;   
}


form h1{
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}
form input[type="text"],input[type="password"]
{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;}
    
form{
    position: absolute;
    padding: 40px;
    width: 500px;
    top:50% ;
    left:50% ;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #191919;
    border: 0px solid ;
    border-radius: 10px;
    padding: 14px 10px;
    border: 2px solid #3498db;
    color: white;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    width: 200px;
}
form input[type="text"]:focus,input[type="password"]:focus
{
    border-color: #2ecc11;
    width: 280px;
}
form input[type="submit"]
{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    border: 2px solid #2ecc11;
    color: white;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color:#2ecc11;
    border-color: none;

}
form a{
    text-decoration: none;
    color: white;
}
form a:hover{
    color: #2ecc11;
}
form a:active{
    color: blue;
}